.container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    background-color: black;
    color: white;
    padding: 30px;
}
.read_more{
    background-color: red;
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 10px;
}
.more{
    display: none;
}
.text.active .more{
    display: block;
} 